<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Manage Prosumers</title>
    <%- include('../partials/bootstrap-css') %>
    <link rel="stylesheet" type="text/css" href="/css/global-manager.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css">
  </head>
  <body onunload="unloadTableUpdater()">
    <%- include('./appbar', {active: 'Prosumers'}) %>
    <div class="jumbotron text-center">
      <h1>List of all Prosumers</h1>
    </div>
    <%- include('../partials/alerts', { alerts: alerts }) %>

    <div class="col-md-3">
      <div class="input-group md-form form-sm form-2 pl-0">
        <input id="inputFilterProsumerTable" class="form-control my-0 py-1 amber-border" 
          type="text" placeholder="Search" aria-label="Search" onkeyup="filterTable([2,3])">
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="octicon octicon-search" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>

    <div class="text-center col-md-12">
      <table class="table" id="prosumerTable">
        <thead>
          <tr>
            <th scope="col" onclick="sortTable(0)">Online</th>
            <th scope="col"></th>
            <th scope="col" onclick="sortTable(2)">Name</th>
            <th scope="col" onclick="sortTable(3)">Email</th>
            <th scope="col" onclick="sortTable(4)">Removed</th>
            <th scope="col" onclick="sortTable(5)">Created At</th>
            <th scope="col" onclick="sortTable(6)">Blocked</th>
            <th scope="col" onclick="sortTable(7)">Black-out</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody id="prosumerTable">
          <% for (var i in data.prosumers) { %>
          <% var prosumer = data.prosumers[i]; %>
          <tr>
            <td class="<%= prosumer.id %> online">...</td>
            <td><%- include('../partials/avatar', {user: prosumer, size: 30})%></td>
            <td class="<%= prosumer.id %> name">...</td>
            <td class="<%= prosumer.id %> email">...</td>
            <td class="<%= prosumer.id %> removed">...</td>
            <td class="<%= prosumer.id %> created_at">...</td>
            <td class="<%= prosumer.id %> blocked">...</td>
            <td class="<%= prosumer.id %> blackOut">...</td>
            <td class="pt-0">
              <div class="button-container">
                <form action="/manager/prosumer/info" method="POST">
                  <button class="btn octicon octicon-info" type="submit" 
                    name="prosumerId" value="<%= prosumer.id; %>"></button>
                </form>
                <%  if (!prosumer.removed) { %>
                  |
                  <input class="form-control" id="blockTimeInput" type="number" name="timeout" min="10" max="100" size="3" value="10">
                  <button class="btn octicon octicon-circle-slash" id="blockButton" value="<%= prosumer.id; %>"></button>
                  |
                  <button class="btn octicon octicon-x" id="deleteButton" value="<%= prosumer.id; %>"></button>
                </form>
                <% } %>
              </div>
            </td>
          </tr> 
          <% } %>
        </tbody>
      </table>
    </div>
    <script>
      const tableId = "prosumerTable";
      const inputFilterId = "inputFilterProsumerTable";
    </script>
    <%- include('../partials/bootstrap-js') %>
    <script type="text/javascript" src="/js/manager/prosumers-table-updater.js"></script>
    <script type="text/javascript" src="/js/table-utilities.js"></script>
  </body>
</html>
