<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Manage Prosumers</title>
    <%- include('../partials/bootstrap-css') %>
    <link rel="stylesheet" type="text/css" href="/css/global-manager.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css">
  </head>
  <body onunload="unloadTableUpdater()">
    <%- include('./appbar', {active: 'Prosumers'}) %>
    <div class="jumbotron text-center">
      <h1>List of all Prosumers</h1>
    </div>
    <%- include('../partials/alerts', { alerts: alerts }) %>

    <div class="col-md-3">
      <div class="input-group md-form form-sm form-2 pl-0">
        <input id="inputFilterProsumerTable" class="form-control my-0 py-1 amber-border" 
          type="text" placeholder="Search" aria-label="Search" onkeyup="filterTable([2,3])">
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="octicon octicon-search" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>

    <div class="text-center col-md-12">
      <table class="table" id="prosumerTable">
        <thead>
          <tr>
            <th scope="col" onclick="sortTable(0)">Online</th>
            <th scope="col"></th>
            <th scope="col" onclick="sortTable(2)">Name</th>
            <th scope="col" onclick="sortTable(3)">Email</th>
            <th scope="col" onclick="sortTable(4)">Removed</th>
            <th scope="col" onclick="sortTable(5)">Created At</th>
            <th scope="col" onclick="sortTable(6)">Blocked</th>
            <th scope="col" onclick="sortTable(7)">Black-out</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody id="prosumerTable">
          <% for (var i in data.prosumers) { %>
          <% var prosumer = data.prosumers[i]; %>
          <tr class="<%= prosumer.id %> prosumer-row">
            <td class="<%= prosumer.id %> online">...</td>
            <td><%- include('../partials/avatar', {user: prosumer, size: 30})%></td>
            <td class="<%= prosumer.id %> name">...</td>
            <td class="<%= prosumer.id %> email">...</td>
            <td class="<%= prosumer.id %> removed">...</td>
            <td class="<%= prosumer.id %> created_at">...</td>
            <td class="<%= prosumer.id %> blocked">...</td>
            <td class="<%= prosumer.id %> blackOut">...</td>
            <td class="pt-0">
              <div class="button-container">
                <form action="/manager/prosumer/info" method="POST">
                  <button class="btn octicon octicon-info" type="submit" 
                          name="prosumerId" value="<%= prosumer.id; %>"></button>
                </form>
                <%  if (!prosumer.removed) { %>
                  |
                  <input class="form-control input-block" type="number" name="timeout" min="10" max="100" size="3" value="10">
                  <button class="btn octicon octicon-circle-slash" type="submit"
                    name="prosumerId" value=<%= prosumer.id; %>></button>
                </form>
                
                <form action="/manager/remove/prosumer" method="POST">
                  |
                  <button class="btn octicon octicon-x" id="deleteButton" value="<%= prosumer.id; %>"></button>
                </form>
                <% } %>
              </div>
            </td>
          </tr> 
          <% } %>
        </tbody>
      </table>
    </div>
    
    <!-- Delete prosumer modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">
              Are you sure you want to delete this account?
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are your sure you want to delete this account with the
            name `<span id="usernameSpan">...</span>`.
            You cannot undo this operation.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <form action="/manager/prosumer/delete" method="POST">
              <button type="submit" id="deleteButton"
                      class="btn btn-danger" name="id" value="...">
                Yes, delete
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
      const tableId = "prosumerTable";
      const inputFilterId = "inputFilterProsumerTable";
    </script>
    <%- include('../partials/bootstrap-js') %>
    <script type="text/javascript" src="/js/manager/prosumers-table-updater.js"></script>
    <script type="text/javascript" src="/js/table-utilities.js"></script>
  </body>
</html>
