<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Manage Prosumers</title>
    <%- include('../partials/bootstrap-css') %>
    <link rel="stylesheet" type="text/css" href="/css/global-manager.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css">
  </head>
  <body>
    <%- include('./appbar', {active: 'Prosumers'}) %>
    <div class="jumbotron text-center">
      <h1>List of all Prosumers</h1>
    </div>

    <div class="col-md-3">
      <div class="input-group md-form form-sm form-2 pl-0">
        <input id="inputFilterProsumerTable" class="form-control my-0 py-1 amber-border" 
          type="text" placeholder="Search" aria-label="Search" onkeyup="filterTable([2,3])">
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="octicon octicon-search" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>

    <div class="text-center col-md-12">
      <table class="table" id="prosumerTable">
        <thead>
          <tr>
            <th scope="col" onclick="sortTable(0)">Online</th>
            <th scope="col"></th>
            <th scope="col" onclick="sortTable(2)">Name</th>
            <th scope="col" onclick="sortTable(3)">Email</th>
            <th scope="col" onclick="sortTable(4)">Removed</th>
            <th scope="col" onclick="sortTable(5)">Created At</th>
            <th scope="col" onclick="sortTable(6)">Blocked</th>
            <th scope="col" onclick="sortTable(7)">Black-out</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody id="prosumerTable">
          <% for (var p in prosumers) { %>
          <tr>
            <td id="<%= prosumers[p].id %>.online"></td>
            <td><%- include('../partials/avatar', {user: prosumers[p], size: 30})%></td>
            <td id="<%= prosumers[p].id %>.name"></td>
            <td id="<%= prosumers[p].id %>.email"></td>
            <td id="<%= prosumers[p].id %>.removed"></td>
            <td id="<%= prosumers[p].id %>.created_at"></td>
            <td id="<%= prosumers[p].id %>.blocked"></td>
            <td id="<%= prosumers[p].id %>.blackOut"></td>
            <td>
              <div class="button-container">
                <form action="/manager/prosumer/info" method="POST">
                  <button class="btn octicon octicon-info" type="submit" 
                    name="prosumerId" value=<%= prosumers[p].id; %>></button>
                </form>
                <%  if (!prosumers[p].removed) { %>
                <form action="/manager/block/prosumer" method="POST">
                  |
                  <input class="form-control input-block" type="number" name="timeout" min="10" max="100" size="3" value="10">
                  <button class="btn octicon octicon-circle-slash" type="submit"
                    name="prosumerId" value=<%= prosumers[p].id; %>></button>
                </form>
                
                <form action="/manager/remove/prosumer" method="POST">
                  |
                  <button class="btn octicon octicon-x" type="submit" name="prosumerId"
                    value=<%= prosumers[p].id; %>></button>
                </form>
                <% } %>
              </div>
            </td>
          </tr> 
          <% } %>
        </tbody>
      </table>
    </div>
    <script>
      const tableId = "prosumerTable";
      const inputFilterId = "inputFilterProsumerTable";
    </script>
    <script type="text/javascript" src="/js/list-prosumers-update.js"></script>
    <script type="text/javascript" src="/js/table-utilities.js"></script>
    <%- include('../partials/bootstrap-js') %>
  </body>
</html>
