<div class="bg-secondary logo" style="min-width: <%= size %>px; min-height:
                               <%= size %>px; max-width: <%= size %>px; max-height:
                               <%= size %>px; margin: auto;">
  <img src="/svg/leaf.svg" class="logo-img" width="<%= size %>px"
                               height="<%= size %>px" style="padding-top: 6px;">
</div>
