<div class="bg-primary logo" style="min-width: <%= size %>px; min-height:
                               <%= size %>px; max-width: <%= size %>px; max-height:
                               <%= size %>px; margin: auto;">
  <img src="/svg/coal_power_plant.svg" class="logo-img"
       width="<%= size-8 %>px" height="<%= size-8 %>px;"
       style="position: relative; top: 10px;">
</div>
