<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Prosumer Dashboard</title>
    <%- include('../partials/bootstrap-css') %>
    <%- include('../partials/material-design-icons-css') %>
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
  </head>
  <body onunload="disconnectDashboard()">
    <%- include('./appbar', {active: 'Dashboard'}) %>
    <div class="container">
      <%- include('../partials/alerts', {alerts: alerts})%>
      <div id="topContent" class="row">
        <div class="col-md data-box bg-dark">
          <h5>Wind Turbine</h5>
          <h2>
            <span id="turbineValue">
              ...
            </span> <span class="unit">kWh</span>
          </h2>
          <div id="turbineStatus" class="status-group">
            <div class="status-icon"></div> <span class="status-text">connecting...</span>
          </div>
        </div>
        <div class="col-md data-box bg-dark">
          <h5>Battery</h5>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
               viewBox="0 0 24 24" class="battery-icon" id="battery">
            <defs>
              <filter id="fillpartial" primitiveUnits="objectBoundingBox" x="0%" y="0%" width="100%" height="100%">
                <feFlood x="0%" y="0%" width="100%" height="100%" flood-color="#00bc8c" />
                <feOffset dy="1">
                </feOffset>
                <feComposite operator="in" in2="SourceGraphic" />
                <feComposite operator="over" in2="SourceGraphic" />
              </filter>
            </defs>
            <path d="M0 0h24v24H0z" fill="none"/>
            <path filter="url(#fillpartial)" fill="white"
                  d="M15.67 4H14V2h-4v2H8.33C7.6 4 7 4.6 7 5.33v15.33C7 21.4 7.6
                     22 8.33 22h7.33c.74 0 1.34-.6 1.34-1.33V5.33C17 4.6 16.4 4
                     15.67 4z"/>
          </svg>
          <h2>
            <span id="batteryValue">
              ...
            </span> <span class="unit">%</span>
          </h2>
          <div id="batteryStatus" class="status-group">
            <div class="status-icon"></div> <span class="status-text">connecting...</span>
          </div>
        </div>
        <div class="col-md data-box bg-dark">
          <h5>Electricity Price</h5>
          <h2>
            <span id="priceValue">
              ...
            </span> <span class="unit">kr per kWh</span>
          </h2>
        </div>
        <div class="col-md data-box bg-dark">
          <h5>Wind Speed</h5>
          <h2>
            <span id="windValue">
              ...
            </span> <span class="unit">m/s</span>
          </h2>
        </div>
      </div>
    </div>
    <%- include('../partials/bootstrap-js') %>
    <script type="text/javascript" src="/js/prosumer/dashboard.js"></script>
  </body>
</html>
