<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Prosumer Data Overview</title>
    <%- include('../partials/bootstrap-css') %>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
    <script type="text/javascript" src="/js/prosumer/prosumer-production-chart.js"></script>
    <script type="text/javascript" src="/js/prosumer/prosumer-production-updater.js"></script>
    <script type="text/javascript" src="/js/manager/modelled-price-chart.js"></script>
    <script type="text/javascript" src="/js/manager/modelled-price-updater.js"></script>
    <script type="text/javascript" src="/js/climate/wind-speed-chart.js"></script>
    <script type="text/javascript" src="/js/climate/wind-speed-updater.js"></script>
  </head>

  <body onload="loadProsumerChart('prosumer', null); loadProsumerDataUpdater('prosumer', null);
    loadModelledPriceChart(); loadModelledPriceData(); loadWindSpeedChart(); loadWindSpeedData();"
    
    onunload="unloadProsumerChart(); unloadProsumerDataUpdater(); unloadModelledPriceChart();
    unloadModelledPriceData(); unloadWindSpeedChart(); unloadWindSpeedData();"
    >

    <%- include('./appbar', {active: 'Overview'}) %>
    <div class="jumbotron text-center">
        <h1>Overview</h1>
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col-md">
                <h2>Prosumer Data</h2>
                <canvas id="prosumerChart" width="150" height="100"></canvas>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <p id="prosumerConsumption"></p>
            </div>
            <div class="col-sm-4">
                <p id="prosumerProduction"></p>
            </div>
            <div class="col-sm-4">
                <p id="prosumerNetConsumption"></p>
            </div>
        </div>

        <br>
        
        <div class="row">
            <div class="col-md-12">
                <h3>Battery</h3> 
            </div>
            <div class="col-sm-6">
                <canvas id="bufferChart" width="150" height="100"></canvas>
            </div>
            <div class="col-sm-6 pt-1 text-left">
              <form action="/prosumer/house/update/settings" method="post">
                <label for="bufferMaxInput">Battery Capacity:</label>
                <input class="form-control" type="number" value="<%= house.battery.capacity %>"
                       id="batteryCapacityInput">
                <label for="bufferExcessiveInput">Battery Charging Ratio:</label>
                <div class="input-group">
                  <input class="form-control" type="number" value="<%= house.chargeRatio %>"
                         name="chargeRatio" id="chargeRatioInput">
                  <div class="input-group-append">
                    <span class="input-group-text" id="chargeRatioAppend">%</span>
                  </div>
                </div>
                
                <label for="bufferUnderInput">Battery Consumption Ratio:</label>
                <input class="form-control" type="number" value="<%= house.consumeRatio %>"
                       name="consumeRatio" id="consumeRatioInput">
                <button type="button" class="btn btn-success mt-2">Update Settings</button>
                </form>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-3">
                <p id="battery"></p>
            </div>
            <div class="col-sm-3">
                <p id="batteryMax"></p>
            </div>
            <div class="col-sm-3">
                <p id="batteryExcessive"></p>
            </div>
            <div class="col-sm-3">
                <p id="batteryUnder"></p>
            </div>
        </div>
    </div>
    <%- include('../partials/bootstrap-js') %>
  </body>
</html>   
