<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Prosumer Data Overview</title>
    <%- include('../partials/bootstrap-css') %>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
  </head>
  <body>
    <%- include('./appbar', {active: 'Overview'}) %>
    <div class="jumbotron text-center">
        <h1>Overview</h1>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-md">
                <h2>Prosumer Data</h2>
                <canvas id="prosumerChart" width="150" height="100"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p id="prosumerConsumption">Consumption: <span>...</span></p>
            </div>
            <div class="col-sm-4">
                <p id="prosumerProduction">Production: <span>...</span></p>
            </div>
            <div class="col-sm-4">
                <p id="prosumerNetProduction">NetProduction: <span>...</span></p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <h3>Battery</h3> 
            </div>
            <div class="col-sm-6">
                <canvas id="bufferChart" width="150" height="100"></canvas>
            </div>
            <div class="col-sm-6 pt-1 text-left">
              <form action="/prosumer/house/update/settings" method="post">
                <label for="batteryCapacityInput">Battery Capacity:</label>
                <div class="input-group append-group" id="capacityAppend">
                <input class="form-control" type="number" value="<%= house.battery.capacity.toFixed(3) %>"
                       name="capacity" id="batteryCapacityInput" step="0.0001" min="0" max="100">
                  <div class="input-group-append">
                    <span class="input-group-text" id="capacityAppend">kWh</span>
                  </div>
                </div>
                <label for="chargeRatioInput">Battery Charging Ratio:</label>
                <div class="input-group append-group" id="consumeGroup">
                  <input class="form-control" type="number"]
                         value="<%= house.chargeRatio * 100 %>"
                         name="chargeRatio" id="chargeRatioInput" aria-describedby="consumeGroup">
                  <div class="input-group-append">
                    <span class="input-group-text" id="chargeRatioAppend">%</span>
                  </div>
                </div>
                <label for="consumeRatioInput">Battery Consumption Ratio:</label>
                <div class="input-group append-group mb-2">
                  <input class="form-control" type="number"
                         value="<%= house.consumeRatio * 100 %>"
                         name="consumeRatio" id="consumeRatioInput">
                  <div class="input-group-append">
                    <span class="input-group-text" id="chargeRatioAppend">%</span>
                  </div>
                </div>
                <button type="submit" class="btn btn-success mt-2">Update Settings</button>
                </form>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-sm-3" data-toggle="tooltip" data-placement="top"
                 title="The currently stored electricity in the battery.">
                <p id="battery">Stored: <span>...</span></p>
            </div>
            <div class="col-sm-3" data-toggle="tooltip" data-placement="top"
                 title="The maximum capacity of this battery.">
                <p id="batteryMax">Capacity: <span>...</span></p>
            </div>
            <div class="col-sm-3" data-toggle="tooltip" data-placement="top"
                 title="The ratio of excessively produced electricity
                 that will be charged to the battery in procent form 0
                 to 100.">
                <p id="batteryExcessive">Charge Ratio: <span>...</span></p>
            </div>
            <div class="col-sm-3" data-toggle="tooltip" data-placement="top"
                 title="The ratio of under production electricty that
                        will be consumed from the battery in procent
                        from 0 to 100.">
                <p id="batteryUnder">Consume Ratio: <span>...</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Electricity Price</h3>
                <canvas id="modelledPricesChart" width="150" height="100"></canvas>
                <p id="modelledPrice"></p>
            </div>
            <div class="col-md-6">
                <h3>Wind speed</h3>
                <canvas id="windSpeedChart" width="150" height="100"></canvas>
                <p id="windSpeed">WindSpeed: <span>...</span></p>
            </div>
        </div>
    </div>
    <%- include('../partials/bootstrap-js') %>
    <script type="text/javascript" src="/js/prosumer/production-chart.js"></script>
    <script type="text/javascript" src="/js/prosumer/production-updater.js"></script>
    <script type="text/javascript" src="/js/prosumer/price-chart.js"></script>
    <script type="text/javascript" src="/js/prosumer/price-updater.js"></script>
    <script type="text/javascript" src="/js/climate/wind-speed-chart.js"></script>
    <script type="text/javascript" src="/js/climate/wind-speed-updater.js"></script>
    <script type="text/javascript">
      $(function () {
          $('[data-toggle="tooltip"]').tooltip()
      })
    </script>
  </body>
</html>
