<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Prosumer Settings</title>
    <%- include('../partials/bootstrap-css') %>
    <%- include('../partials/material-design-icons-css') %>
    <link rel="stylesheet" type="text/css" href="/css/settings.css">
  </head>
  <body>
    <%- include('../partials/appbar') %>
    <%- include('../partials/alerts', { alerts: alerts }) %>
    <div id="main" class="container bg-dark">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/prosumer">Home</a></li>
          <li class="breadcrumb-item"><a href="/prosumer/settings">Settings</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            <%= page.charAt(0).toUpperCase() + page.substring(1) %>
          </li>
        </ol>
      </nav>
      <div class="row">
        <div id="menuSettings" class="col-12 col-md-3 col-lg-3 list-group">
          <a href="#" class="list-group-item list-group-item-action disabled"
             tabindex="-1" aria-disabled="true">
            Personal Settings
          </a>
          <a href="/prosumer/settings/profile" class="list-group-item list-group-item-action
                             <% if (pageIndex == 0) { %> active <% } %>">
            Profile
          </a>
          <a href="/prosumer/settings/account" class="list-group-item list-group-item-action
                             <% if (pageIndex == 1) { %> active <% } %>">
            Account
          </a>
          <a href="/prosumer/settings/security" class="list-group-item list-group-item-action
                             <% if (pageIndex == 2) { %> active <% } %>">
            Security
          </a>
          <a href="/prosumer/settings/notifications" class="list-group-item last list-group-item-action
                             <% if (pageIndex == 3) { %> active <% } %>">
            Notifications
          </a>
        </div>
        <div id="mainSettings" class="col-12 col-md-9 col-lg-9">
          <%- include("./settings/" + page) %>
        </div>
      </div>
    <%- include('../partials/bootstrap-js') %>
  </body>
</html>
