<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Prosumer Settings</title>
    <%- include('../partials/bootstrap-css') %>
    <%- include('../partials/material-design-icons-css') %>
    <link rel="stylesheet" type="text/css" href="/css/settings.css">
    <% if (pageIndex == 0 || pageIndex == 1) { %>
    <link rel="stylesheet" type="text/css" href="/css/croppr.min.css">
    <% } %>
  </head>
  <body>
    <%- include('./appbar', {active: ''}) %>
    <%- include('../partials/alerts', { alerts: alerts }) %>
    <div id="main" class="container bg-dark">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/prosumer">Home</a></li>
          <li class="breadcrumb-item"><a href="/prosumer/settings">Settings</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            <%= page.charAt(0).toUpperCase() + page.substring(1) %>
          </li>
        </ol>
      </nav>
      <div class="row">
        <div id="menuSettings" class="col-12 col-md-3 col-lg-3 list-group">
          <a href="#" class="list-group-item first list-group-item-action disabled"
             tabindex="-1" aria-disabled="true">
            Personal Settings
          </a>
          <a href="/prosumer/settings/profile"
             class="list-group-item list-group-item-action
                    <% if (pageIndex == 0) { %> active <% } %>">
            Profile
          </a>
          <a href="/prosumer/settings/account"
             class="list-group-item list-group-item-action
                    <% if (pageIndex == 1) { %> active <% } %>">
            Account
          </a>
          <a href="/prosumer/settings/security"
             class="list-group-item list-group-item-action
                    <% if (pageIndex == 2) { %> active <% } %>">
            Security
          </a>
        </div>
        <div id="mainSettings" class="col-12 col-md-9 col-lg-9">
          <%- include("./settings/" + page) %>
        </div>
      </div>
    </div>
    <%- include("../partials/bootstrap-js") %>
    <% if (pageIndex == 0 || pageIndex == 1) { %>
    <script type="text/javascript" src="/js/croppr.min.js"></script>
    <script type="text/javascript" src="/js/file-uploader.js"></script>
    <script type="text/javascript" src="/js/image-uploader.js"></script>
    <% } %>
  </body>
</html>
