<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Let's setup your manager account</title>
    <%- include('./partials/bootstrap-css') %>
    <%- include('./partials/material-design-icons-css') %>
    <link rel="stylesheet" type="text/css" href="/css/global-manager.css">
    <link rel="stylesheet" type="text/css" href="/css/signin.css">
  </head>

  <body class="text-center">
    <div id="main" class="container">
      <%- include('./partials/alerts', { alerts: alerts }) %>
      <div class="mb-4">
        <%- include('./partials/logo-gle', {size: 86}) %>
      </div>
      <form class="form-signup bg-dark" method="post"
            action="/manager/signup">
        <h1 class="h3 mb-3 font-weight-normal">Let's setup your manager account.</h1>
        <label for="inputName" class="sr-only">Power Plant Name</label>
        <input type="text" id="inputName" name="plantName" class="form-control"
               placeholder="Power Plant Name" required="" autofocus="">
        <label for="inputName" class="sr-only">Company Name</label>
        <input type="text" id="inputName" name="name" class="form-control"
               placeholder="Company Name" required="" autofocus="">
        <label for="inputEmail" class="sr-only">Email Address</label>
        <input type="email" id="inputEmail" name="email" class="form-control"
               placeholder="Email Address" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control"
               placeholder="Password" required="">
        <button type="submit" id="inputSignIn" class="btn btn-success">Submit</button>
      </form>
    </div>
    <%- include('./partials/bootstrap-js') %>
  </body>
</html>
